<h1>Listing diseases</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Depression</th>
      <th>Schizophrenia</th>
      <th>Social anxiety disorder</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @diseases.each do |disease| %>
      <tr>
        <td><%= disease.user_id %></td>
        <td><%= disease.depression %></td>
        <td><%= disease.schizophrenia %></td>
        <td><%= disease.social_anxiety_disorder %></td>
        <td><%= link_to 'Show', disease %></td>
        <td><%= link_to 'Edit', edit_disease_path(disease) %></td>
        <td><%= link_to 'Destroy', disease, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disease', new_disease_path %>
